name: Deploy a Producci贸n

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Descargar c贸digo
        uses: actions/checkout@v4

      - name: Instalar dependencias del Servidor
        run: |
          cd server
          npm install

      - name: Construir Frontend (Client)
        run: |
          cd client
          npm install
          npm run build  # Esto genera la carpeta 'build' o 'dist'

      - name: Desplegar archivos con rsync
        run: |
          # rsync sincroniza el c贸digo excluyendo archivos sensibles y carpetas de desarrollo
          rsync -av --delete \
            --exclude='.git' \
            --exclude='.env' \
            --exclude='node_modules' \
            --exclude='client/node_modules' \
            . /var/www/InvPatrimonio/

      - name: Restaurar .env desde Backup (Si no existe)
        run: |
          # Solo copia el backup si por alguna raz贸n el .env principal desapareci贸
          if [ ! -f /var/www/InvPatrimonio/server/.env ]; then
            cp /var/www/.env.InvPatrimonio /var/www/InvPatrimonio/server/.env
          fi

      - name: Reiniciar Servidor Node.js
        run: |
          # Entramos a la carpeta final para asegurar que PM2 tome los cambios
          cd /var/www/InvPatrimonio/server
          pm2 restart InvPatrimonio --update-env || pm2 start index.js --name "InvPatrimonio"
          echo " Despliegue y Build finalizados con 茅xito"